<template>

    <section>
        COUNT ABOUT : {{ count }}
        <button @click="increment">+</button>
        <button @click="decrement">-</button>


        <hr>
        <p>
            My name is {{ name }}
        </p>
        <input v-model="name" />


        <hr>
    </section>

</template>

<script>

  import about_mixin from '../mixins/about'
  import axios_mixin from '../mixins/axios'

  export default {
    mixins: [about_mixin, axios_mixin],
    data: function (){
      return {
        name: 'John'
      }
    }
  }

</script>

<style>

</style>