<template>

    <svg class="check" viewBox="0 0 24 24">
        <path class="" fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
    </svg>


</template>

<script>

  export default {

  }

</script>


<style>

    @keyframes hideshow {
        0% { opacity: 0; }
        25% { opacity: 0.5; }
        50% { opacity: 1; }
        75% { opacity: 0.5}
        100% { opacity: 0; }
    }

    .check{
        height: 50px;
        width: 50px;
        animation: hideshow 4s ease infinite;
    }
    
</style>