<template>

    <div class="input">
        <label :class="{active: active, color: color}" :for="defaultId">{{ defaultId }}</label>
        <input v-model="value" :type="type" :id="defaultId" :name="name" :disabled="disabled" @input="updateInput" @focus="onFocus" @blur="onBlur" />
    </div>

</template>

<script>
  export default {
    data: () => ({
      active: false,
      color: false,
      value: ''
    }),
    props: {
      name: {
        type: String,
        required: true
      },
      type:{
        type: String,
        default: 'text'
      },
      id:{
        type: String
      },
      disabled:{
        type: Boolean,
        default: false
      }
    },
    computed: {
      defaultId: function () {
        return this.id || this.name
      }
    },
    methods: {
      updateInput(event) {
        this.$emit('input', event.target.value)
      },
      onFocus: function() {
        this.color = true
        if(this.value.length >= 0){
          this.active = true
        }else{
          this.active = false
        }
      },
      onBlur: function(){
        this.color = false
        if(this.value.length > 0){
          this.active = true
        }else{
          this.active = false
        }
      }
    }
  }
</script>

<style>

    .input{
        margin: 0 0 20px 0;
        position: relative;
    }

    .input > input{
        border: none;
        border-bottom: 1px solid gray;
        height: 2rem;
        font-size: 1rem;
        transition: all 0.5s;
    }

    .input > input:focus{
        border: none;
        border-bottom: 1px solid red;
    }

    .input > label{
        position: absolute;
        height: 100%;
        font-size: 1rem;
        cursor: text;
        transform: translateY(12px);
        transition: all 0.5s;
    }

    .input > label.active{
        font-weight: bold;
        position: absolute;
        transform: translateY(-12px) scale(0.9);
        transform-origin: 0 0;
    }
    .input > label.color {
        color: red;
    }

</style>