<template>

    <section>

        COUNT DASHBOARD : {{ count }}
        <button @click="increment">+</button>
        <button @click="decrement">-</button>
        <button @click="incrementAction">INCREMENT DELAY ACTION</button>

        <h1>{{ odd() }}</h1>
        <hr>

        <button @click="getWeather">GET CURRENT WEATHER AND STORE IN STORE</button>

        <p v-if="Object.keys(currentWeather).length > 0">
            {{ currentWeather.coord.lat }}
            {{ currentWeather.coord.lon }}
            -----
            {{ getCoordLat() }}
            {{ getCoordLon() }}
            -----

            <google-map :lat="getCoordLat()" :lon="getCoordLon()"></google-map>
        </p>

        <!--<p>-->
            <!--<button @click="testCustomAxios">GET CURRENT WEATHER BY CUSTOM AXIOS</button>-->
            <!--{{ testObject }}-->
        <!--</p>-->

    </section>

</template>

<script>

    import dashboard_mixin from '../mixins/dashboard'
    import map from '../components/map'

    // import custom_axios from '../custom_axios/custom_axios'

    export default {
      data(){
        return{
          testObject: {}
        }
      },
      mixins: [dashboard_mixin],
      components: {
        'google-map': map
      }
      // methods: {
      //   testCustomAxios(){
      //       custom_axios.get('/products_with_csrv')
      //         .then(response => this.testObject = response.data)
      //         .catch(error => console.log(error))
      //   }
      // }
    }

</script>

<style>

</style>