<template>

    <section>


        <p>
            =
            <h1>LOGGED? > {{ isLogged() }}</h1>
            =
        </p>

        <div v-if="isLogged()">
            <button @click="logOutMeth">LOG OUT</button>
        </div>
        <div v-else="isLogged()">
            <label for="email">EMAIL</label>
            <input type="text" id="email" v-model="email" @keyup.enter="logIn({email, password})"/>
            a@a.com
            <br>
            <label for="password">PASSWORD</label>
            <input type="password" id="password" v-model="password" @keyup.enter="logIn({email, password})"/>
            changeme
            <button @click="logIn({email, password})">LOG IN</button>
        </div>

        <br>
        <br>

        Try to fetch products when you're not logged in <button @click="fetchProducts(getToken())">FETCH</button>
        <p>{{ fetching_info }}</p>
        <ul v-for="product in fetched_products">
            <li>
                Name: {{ product.name }} || Price: {{ product.price }}
            </li>
        </ul>


        <br>
        <br>

        <awesome_input name="awesome_test" v-model="test_input"></awesome_input>
        <p>
            {{ test_input }}
        </p>

        <br>
        <br>

        <anime_svg></anime_svg>

        <br>
        <br>

    </section>

</template>

<script>

    import auth_mixin from '../mixins/auth'
    import awesome_input from '../components/awesome_input'
    import anime_svg from '../components/anime_svg'
    import axios from 'axios'

  export default {
    data(){
      return {
        email: '',
        password: '',
        test_input: '',
        fetched_products: [],
        fetching_info: ""
      }
    },
    mixins: [auth_mixin],
    components: {
      'awesome_input': awesome_input,
      'anime_svg': anime_svg
    },
    methods: {
      fetchProducts(token){
        axios.get('/fetch_products', {headers: { 'Authorization':`Bearer ${token}` }}) //, {headers: {'Authorization': 'Bearer '+token}}
            .then(response => {
              this.fetching_info = response.data.message
              this.fetched_products = JSON.parse(response.data.products)
            })
            .catch(response => {
              this.fetching_info = response.response.data.errors.join(',')
            })
      },
      logOutMeth(){
        this.logOut()
        this.fetched_products = []
        this.fetching_info = ''
        this.email = ''
        this.password = ''
      }
    }
  }

</script>

<style>

</style>