<template>
    <div>
        <img :src="'https://maps.googleapis.com/maps/api/staticmap?center='+lat+','+lon+'&zoom=12&size=500x400&key=AIzaSyCwekMw6tGvDZUFUAqS3ES9-4w-6F6AiwQ'" />
    </div>
</template>

<script>
    export default {
      props: {
        lat: {
          type: Number,
          required: true
        },
        lon: {
          type: Number,
          required: true
        }
      }
    }
</script>