<template>

    <section>

        <ul v-for="product in products2" :key="product.id">
            <li>Name => {{ product.name }}</li>
            <li>Price => {{ product.price }}</li>
        </ul>

        <hr>

        <div class="lists">
            <!--for products apoollo-->
            <ul v-for="product in products" :key="product.id">
                <li>Name : {{ product.name }}</li>
                <li>Price : {{ product.price }}</li>
                <ul>
                    <li>User email : {{ product.user.email }}</li>
                    <hr>
                </ul>
            <hr>
            </ul>

            <hr class="red">
            <hr class="red">
            <hr class="red">

            <!--for users apollo-->
            <ul v-for="user in users" :key="user.id">
                <li>Email : {{ user.email }}</li>
                <ul v-for="product in user.products" :key="product.id">
                    <li>Name : {{ product.name }}</li>
                    <li>Price : {{ product.price }}</li>
                    <hr>
                </ul>
            <hr>
            </ul>
        </div>

    </section>

</template>

<script>

  import gql from 'graphql-tag'

  export default {
    apollo: {
      products: gql`{ products(limit: 2){ id, name, price, user { email } }}`,
      users: gql`{ users(limit: 4){ email, products(limit: 2) { id, name, price } } }`
    },
    data: function (){
      return {
        products2: [
          {id: 'test1', name: "Test", price: 1},
          {id: 'test2', name: "Test2", price: 2}
        ]
      }
    }
  }

</script>

<style>

    .lists{
        max-width: 300px;
    }

    .red{
        color: red;
    }

</style>