<template>

    <div id="container">
        <app-header></app-header>
        <app-navigation></app-navigation>
        <div id="body">
            <router-view></router-view>
        </div>
        <app-footer></app-footer>
    </div>

</template>

<script>

    import Footer from './footer'
    import Header from './header'
    import Navigation from '../components/navigation'


    export default {
        components: {
          'app-footer': Footer,
          'app-header': Header,
          'app-navigation': Navigation
        }
    }

</script>

<style>
    /*sticky footer*/
    html,
    body {
        margin:0;
        padding:0;
        height:100%;
    }
    #container {
        min-height:100%;
        position:relative;
    }
    #body {
        padding:10px;
        padding-bottom:60px;   /* Height of the footer */
    }

</style>