<template>

    <footer id="footer">
        <span class="copy">
            FOOTER
        </span>
    </footer>

</template>

<script>
</script>

<style>
    #footer {
        position:absolute;
        bottom:0;
        width:100%;
        height:60px;   /* Height of the footer */
        background: #999999;
        text-align: right;
        line-height: 20px;
    }
    .copy{
        font-size: 20px;
        margin: 20px 20px 0 0;
        display: block;
    }
</style>