<template>

    <header id="header">
        <h1>
            HEADER
        </h1>
    </header>

</template>

<script>
</script>

<style>

    #header {
        text-align: center;
        background: #999999;
        padding:10px;
    }

</style>